mat-sidenav-container {
    height: 100%;
  
    mat-sidenav {
  
      mat-nav-list {
  
        .chevron-button {
          transition: 300ms ease-in-out;
          transform: rotate(0deg);
          justify-content: center;
          position: absolute;
        }
  
        .chevron-button.rotated {
          transform: rotate(180deg);
          right: 0;
        }
      }
    }
  }


  .mat-sidenav-container{
      height: 100vh;
  }