:host{
    display:flex;
    flex-direction: column;

}

.header-side{
    display: flex;
    flex-direction: row;
  
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 10vh;
}

.header-content{
    margin: 0 2px;
    height: 30px;
}

 
.card {
    padding-left: 10px;
    background-color: white;
    height: 100vh;
}

.mat-icon{
 
    padding:5px;
}

 
mat-divider{
    margin:0px 0px;
    border-top-width: 1px;
    background-color: rgb(97, 97, 97);
}

 
::ng-deep.mat-list-item-content:hover{
    
    color: rgb(3, 3, 3);
    width: 100%;
}

mat-nav-list{
    padding-top:32px;
}

mat-drawer-container{
 background-color: rgba(238, 189, 189, 0.466);
 
 height: 100vh;
}

mat-drawer{
    width: 210px;
    background: rgba(255, 255, 255, 0.87);
    box-shadow: 4px 4px 4px 3px rgba(66, 49, 49, 0.836);
    height: 100%;
}

 






/* Media query responsive  */
 

 